<%- include("partials/header") %>

<h1 style="text-align: center;" class="mt-5">Update Details</h1>
<div class="container mt-5">
    <form action="/admin/updateUser?id=<%= user._id %>" method="post" class="d-flex flex-column align-items-center gap-3">
        <input type="email" name="email" value="<%=user.email%>"/>
        <input type="text" name="fname" value="<%= user.fname%>"/>
        <input type="text" name="lname" value="<%=user.lname %>"/>
        <input type="password" name="password" value="<%= user.password%>"/>
        <button type="submit">Update</button>
    </form>
</div>

<%- include("partials/footer") %>